In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
trader_df=pd.read_csv(r"D:\project internshala\fear_greed_index.csv")
sentiment_df=pd.read_csv(r"D:\project internshala\historical_data.csv")

In [3]:
trader_df.head()
sentiment_df.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [4]:
trader_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2644 non-null   int64
 1   value           2644 non-null   int64
 2   classification  2644 non-null   object
 3   date            2644 non-null   object
dtypes: int64(2), object(2)
memory usage: 82.8+ KB

In [5]:
sentiment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Timestamp IST     211224 non-null  object
 7   Start Position    211224 non-null  float64
 8   Direction         211224 non-null  object
 9   Closed PnL        211224 non-null  float64
 10  Transaction Hash  211224 non-null  object
 11  Order ID          211224 non-null  int64
 12  Crossed           211224 non-null  bool
 13  Fee               211224 non-null  float64
 14  Trade ID          211224 non-null  float64
 15  Timestamp         211224 non-null  float64
dtypes: bool(1), float64(8), int64(1), object(6)
memory usage: 24.4+ MB

In [6]:
#converting to the date time format because it has unix time stamp
trader_df['datetime']=pd.to_datetime(trader_df['timestamp'], unit='s')
#now i want to extract
trader_df['date']=trader_df['datetime'].dt.date
trader_df[['timestamp', 'datetime', 'date']].head()

    timestamp            datetime        date
0  1517463000 2018-02-01 05:30:00  2018-02-01
1  1517549400 2018-02-02 05:30:00  2018-02-02
2  1517635800 2018-02-03 05:30:00  2018-02-03
3  1517722200 2018-02-04 05:30:00  2018-02-04
4  1517808600 2018-02-05 05:30:00  2018-02-05

In [7]:
sentiment_df['date']=pd.to_datetime(sentiment_df['Timestamp'],errors='coerce').dt.date

In [8]:
sentiment_df[['Timestamp','date']].head()

      Timestamp        date
0  1.730000e+12  1970-01-01
1  1.730000e+12  1970-01-01
2  1.730000e+12  1970-01-01
3  1.730000e+12  1970-01-01
4  1.730000e+12  1970-01-01

In [9]:
sentiment_df=pd.read_csv(r"D:\project internshala\historical_data.csv")

In [10]:
sentiment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Timestamp IST     211224 non-null  object
 7   Start Position    211224 non-null  float64
 8   Direction         211224 non-null  object
 9   Closed PnL        211224 non-null  float64
 10  Transaction Hash  211224 non-null  object
 11  Order ID          211224 non-null  int64
 12  Crossed           211224 non-null  bool
 13  Fee               211224 non-null  float64
 14  Trade ID          211224 non-null  float64
 15  Timestamp         211224 non-null  float64
dtypes: bool(1), float64(8), int64(1), object(6)
memory usage: 24.4+ MB

In [11]:
sentiment_df.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [12]:
sentiment_df['Timestamp'].head()

0    1.730000e+12
1    1.730000e+12
2    1.730000e+12
3    1.730000e+12
4    1.730000e+12
Name: Timestamp, dtype: float64

In [13]:
sentiment_df['Timestamp'].dtype

dtype('float64')

In [14]:
sentiment_df['Timestamp']=sentiment_df['Timestamp'].astype('int64')

In [15]:
sentiment_df['datetime']=pd.to_datetime(sentiment_df['Timestamp'],unit='ms',errors='coerce')

In [16]:
sentiment_df['date']=sentiment_df['datetime'].dt.date

In [17]:
sentiment_df[['Timestamp','datetime','date']].head()

       Timestamp            datetime        date
0  1730000000000 2024-10-27 03:33:20  2024-10-27
1  1730000000000 2024-10-27 03:33:20  2024-10-27
2  1730000000000 2024-10-27 03:33:20  2024-10-27
3  1730000000000 2024-10-27 03:33:20  2024-10-27
4  1730000000000 2024-10-27 03:33:20  2024-10-27

In [18]:
merged_df=sentiment_df.merge(trader_df[['date','classification']],on='date',how='left')

In [19]:
merged_df[['date','classification']].head(10)

         date classification
0  2024-10-27          Greed
1  2024-10-27          Greed
2  2024-10-27          Greed
3  2024-10-27          Greed
4  2024-10-27          Greed
5  2024-10-27          Greed
6  2024-10-27          Greed
7  2024-10-27          Greed
8  2024-10-27          Greed
9  2024-10-27          Greed

In [20]:
trader_df['date'].min(),trader_df['date'].max()

(datetime.date(2018, 2, 1), datetime.date(2025, 5, 2))

In [21]:
sentiment_df['date'].min()
sentiment_df['date'].max()

datetime.date(2025, 6, 15)

In [22]:
sentiment_df['Timestamp'].head()

0    1730000000000
1    1730000000000
2    1730000000000
3    1730000000000
4    1730000000000
Name: Timestamp, dtype: int64

In [23]:
sentiment_df['datetime']=pd.to_datetime(sentiment_df['Timestamp'],unit='ms')
sentiment_df['date']=sentiment_df['datetime'].dt.date

In [24]:
sentiment_df['date'].min()
sentiment_df['date'].max()

datetime.date(2025, 6, 15)

In [25]:
pd.to_datetime(trader_df['timestamp'],unit='ms')

0      1970-01-18 13:31:03.000
1      1970-01-18 13:32:29.400
2      1970-01-18 13:33:55.800
3      1970-01-18 13:35:22.200
4      1970-01-18 13:36:48.600
                 ...
2639   1970-01-21 04:56:58.200
2640   1970-01-21 04:58:24.600
2641   1970-01-21 04:59:51.000
2642   1970-01-21 05:01:17.400
2643   1970-01-21 05:02:43.800
Name: timestamp, Length: 2644, dtype: datetime64[ns]

In [26]:
trader_df['datetime']=pd.to_datetime(trader_df['timestamp'],unit='s')

In [27]:
trader_df['date']=trader_df['datetime'].dt.date

In [28]:
trader_df['date'].min()
trader_df['date'].max()

datetime.date(2025, 5, 2)

In [29]:
merged_df=sentiment_df.merge(trader_df[['date','classification']],on='date',how='left')

In [30]:
merged_df.info()
merged_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Timestamp IST     211224 non-null  object
 7   Start Position    211224 non-null  float64
 8   Direction         211224 non-null  object
 9   Closed PnL        211224 non-null  float64
 10  Transaction Hash  211224 non-null  object
 11  Order ID          211224 non-null  int64
 12  Crossed           211224 non-null  bool
 13  Fee               211224 non-null  float64
 14  Trade ID          211224 non-null  float64
 15  Timestamp         211224 non-null  int64
 16  datetime          211224 non-null  datetime64[ns]
 17  date              211224 non-null  object
 18  classification    184263 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(7), int64(2), object(8)
memory usage: 29.2+ MB

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,datetime,date,classification
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1730000000000,2024-10-27 03:33:20,2024-10-27,Greed
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1730000000000,2024-10-27 03:33:20,2024-10-27,Greed
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1730000000000,2024-10-27 03:33:20,2024-10-27,Greed
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1730000000000,2024-10-27 03:33:20,2024-10-27,Greed
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1730000000000,2024-10-27 03:33:20,2024-10-27,Greed

In [31]:
merged_df['classification'].value_counts()

classification
Fear             133871
Greed             36289
Neutral            7141
Extreme Greed      6962
Name: count, dtype: int64

In [32]:
#analysis stage

In [37]:
#Average PnL by sentiment
merged_df.groupby('classification')['Closed PnL'].mean()

classification
Extreme Greed    25.418772
Fear             50.047622
Greed            87.894859
Neutral          22.229713
Name: Closed PnL, dtype: float64

In [38]:
#Win rate by sentiment
merged_df['win']=merged_df['Closed PnL']>0
merged_df.groupby('classification')['win'].mean()

classification
Extreme Greed    0.490089
Fear             0.415146
Greed            0.446471
Neutral          0.317182
Name: win, dtype: float64

In [39]:
#Number of trades by sentiment
merged_df['classification'].value_counts(normalize=True)

classification
Fear             0.726521
Greed            0.196941
Neutral          0.038754
Extreme Greed    0.037783
Name: proportion, dtype: float64